.navbar{
    padding: 10px;
    color: aqua;
}
header{
    height: 120px;
}

/* .nav-item a {
    color: blue;
    font-weight: 600;
    font-size: 18px;
} */

.menu-item a:hover {
    color: var(--menu-text-hover-color);
}

@media (min-width:768px){
   .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
   }
}